.container-cart{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 45%; 
    position: relative !important;
    border-style: solid;
    border-color: rgb(238, 237, 237);
    border-width: 1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}

.container-cart-detail{
    display: inline-block;
    width: 100%;
    margin: 30px;
    
}

.data img{
    width: 10%;
    height: 100px;
    object-fit: contain;
    float: left;
    display: flex;

    
}

.data h1{
    font-size: 1.5rem;
    display: inline;
}

.data h2{
    font-size: 1.3rem;
    color: gray;
    display: inline;
    margin-left: 30px;
}

.prices{
    font-size: 1.3rem;
    color: var(--color-button);
    list-style: none;
    font-weight: bolder;
}

.cantidad{
    font-size: 1.3rem;
    color: gray;
    list-style: none;
}

.vaciar:hover{
        width: 310px;
        height: 45px;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 10px !important;
        font-size: 17px;
        transition: 200ms;
    
}

.vaciar {
    width: 300px;
    border-radius: 3px;
    border-color: rgb(238, 237, 237);
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    
    color: white;
    font-size: 15px;
    height: 40px;
    background-color: red;
}


