:root{
    --letter-color: #F0F7F5;
    --background-color-navbar:#263238;
    --second-color:#b0b3b2;
    --third-color:#00f894;
    --font-logo: 'Quicksand', sans-serif;
    --color-button: #007272;
}

.container-img{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin: 50px; */
    width: 50%;
    margin: 30px;
    
}

.container-img img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.container-detail{
    position: relative;
    display: block;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 50%;
    margin: 30px;
    padding-left: 125px;

    
    
}

.container-detail h1{
    
    padding: 0;
    font-family: var(--font-logo) !important;
    font-size: 3em ;
    margin-bottom: 10px;
}

.container-detail h2{
    font-size: 0.8em;
    color: gray;
    margin-bottom: 10px;

}
.detail ul{
    list-style:none;
    padding: 0;
    font-size: 1em;
    color: gray;
}

.detail ul li{
    margin-bottom: 10px;
}


.price{
    color: var(--color-button);
    font-size: 40px;
    font-weight:bolder;
}