
:root{
    --letter-color: #F0F7F5;
    --background-color-navbar:#263238;
    --second-color:#00feef;
    --third-color:#00f894;
    --font-logo: Quicksand Bold;
}
 

*{
    margin: 0px;
    padding: 0px;
}

#container-navbar{
    background: var(--background-color-navbar);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#navbar{
    background: transparent;
    width: 40%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;

}

.navbar-search{
    margin-top: 5px;
    width: 100%;

}

.navbar-search input[type="text"]{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: none !important;
    border-radius: 5px;
    border: none;
    color: #000;
    outline: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    position: relative;

}

.btn-search{
    background-color: white;
    z-index: 100;
    width: 5%;
    height: 40px;
    border-radius: 5px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    color: var(--background-color-navbar);
    outline: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px;

}

#icon-search{
    width: 80px;
    margin: 0;

}

#icon-search:hover{
    cursor: pointer;
}


.nav-menu{
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

.nav-menu-user{
    float: right;
}


.nav-menu ul{
    position: relative;
    padding: 0px;
    margin: 0 auto;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.nav-menu ul li{
    display: inline-block;
    margin-right: 15px;
    color: white;
    padding: 0px;
    font-size: 15px;
}

.nav-menu ul li a{
    text-decoration: none;
    color: white;
    border-color: #93CCB8 !important;
}

.nav-menu ul li a:hover{
    color: var(--second-color) !important;
}

.li-float-right{
    float: right;
    margin: 0 !important;
    margin-left: 15px !important;
  
}



.logo{
    width: 180px;
    position: relative;
    margin-right: 20px;
}

