:root{
    --letter-color: #F0F7F5;
    --background-color-navbar:#263238;
    --second-color:#00feef;
    --third-color:#00f894;
    --font-logo: Quicksand Bold;
    --color-button: #007272;
}

.container-addcart{
    position: relative;
    display: flex;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
    top: 35px;
    
}

.container-btn-addCart, .container-count{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-btn-addCart{
    margin-top: 40px;
}

.container-count{
    margin-bottom: 35px;
}


.container-count button, label{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-color: rgb(238, 237, 237);
    border-radius: 4px;
    color:var(--background-color-navbar);
    background-color:transparent;
    border-style:solid;
    background-color: transparent;
    font-weight: bold;
}

.count-lbl{
    width: 240px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-left: none !important;
    border-right: none !important;
    font-size: 20px;
    border-width: 2px;
}

.removeCount{
    width: 30px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: none !important;
    color: var(--color-button) !important;
}

.addCount{
    width: 30px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: none !important;
    color: var(--color-button) !important;
}



.btn-addCart{
    
    width: 300px;
    border-radius: 3px;
    border-color: rgb(238, 237, 237);
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color:white;
    font-size: 15px;
    height: 40px;
    background-color: var(--color-button);
   
}

.btn-buyingCart{

    width: 300px;
    border-radius: 3px;
    border-color: rgb(238, 237, 237);
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color:white;
    font-size: 15px;
    height: 40px;
    background-color: red;

}

.btn-buyingCart:hover{
    width: 310px;
    height: 45px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-size: 17px;
    transition: 200ms;
}

.btn-addCart:hover{
    width: 310px;
    height: 45px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-size: 17px;
    transition: 200ms;
}